@model IEnumerable<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<div>
     <a href="/Movies/New">
        <button class="btn btn-primary" name="movie_add_btn" style="margin-bottom: 15px">add movie</button>
    </a>
</div>
<table class="table table-hover table-striped table-bordered">
    <thead>
        <tr>
            <th>Movies</th>
            <th>Genre</th>
        </tr>
    
    </thead>
    
    <tbody>
        @if (Model == null)
        {
            <tr>
                <td>No Movies</td>
            </tr>
            
        }
        else
        {
            foreach (var movies in Model)
            {
            <tr>
                <td>@Html.ActionLink(movies.Name, "Edit", "Movies", new { id = movies.Id }, null)</td>
                <td>@movies.Genre.Name</td>
            </tr>
                
            }
        }
    </tbody>
</table>
